<%- include("./partials/header")%>

<% site.forEach(function(sites){%>
    <div id="show">
        <h2><%=sites.title%></h2>
        <img src="<%=sites.image%>" alt="">
        <p><%=sites.body.substring(0,100)%>....</p>
        <a class="ui red inverted  button" href="/site/<%=sites._id%>">Read More</a>
        <span><%=sites.date%></span>

    </div>

<%})%>
<%- include("./partials/footer")%>